<p id="notice"><%= notice %></p>

<h1>Cart Products</h1>

<table>
  <thead>
    <tr>
      <th>Cart</th>
      <th>Product</th>
      <th>Product quantity</th>
      <th>License</th>
      <th>Order</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_products.each do |cart_product| %>
      <tr>
        <td><%= cart_product.cart %></td>
        <td><%= cart_product.product %></td>
        <td><%= cart_product.product_quantity %></td>
        <td><%= cart_product.license %></td>
        <td><%= cart_product.order %></td>
        <td><%= cart_product.price %></td>
        <td><%= link_to 'Show', cart_product %></td>
        <td><%= link_to 'Edit', edit_cart_product_path(cart_product) %></td>
        <td><%= link_to 'Destroy', cart_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart Product', new_cart_product_path %>
