<%= form_for([@product,@product.ratings.build]) do |form|  %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="fdb-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col mt-4">
                <label>Stars</label>
                <%= form.number_field :stars, id: :product_stars, :class => "form-control" %>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col mt-4">
                <label>Comment</label>
                <%= form.text_area :comment,  id: :product_comment, :class => "form-control"%> 
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col mt-4">
                <%= form.submit :class=> "btn btn-round mt-4 mb-5 mb-md-0 comment"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



 
<% end %>
