<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :guest_token %>
    <%= f.text_field :guest_token %>
  </div>

  <div class="field">
    <%= f.label :total_amount %>
    <%= f.text_field :total_amount %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_area :status %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :product_id_id %>
    <%= f.text_field :product_id_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
