<%= form_for order_item, remote: true do |f| %>
  <tr>
    <th scope="row"><%= index+1 %></th>
    <th scope="row" style="width: 30%"><%= link_to product.title, product_path(product) %></th>
    <td><%= number_to_currency order_item.unit_price %></td>
    <td>
      <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.title}' from your cart?" }, method: :delete, remote: true, class: "btn text-danger btn-link btn-sm" } %>
    </td>
  </tr>
<% end %>
