<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <div class="text-center pt-5">
    <p>
      <i class="fa fa-shopping-cart fa-5x"></i>
    </p>
    <h3 class="text-center">
      Your Shopping Cart is empty
    </h3>
    <p>Please <%= link_to "go back", products_path %> and add some items to your cart.</p>
  </div>
<% else %>
  <div class="row">
    <div class="col text-left p-4">
      <h5>My Shopping Cart (<%= @order_items.size %> Items)</h5>
    </div>
    <div class="col p-4">
      <h5>Total: <%= number_to_currency current_order.total_amount%></h5>
    </div>
  </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each_with_index do |order_item, index| %>
      <%= render 'carts/cart_row', index: index, product: order_item.product, order_item: order_item, show_total: true %>
    <% end %>
  </tbody>
</table>
<% end %>