<p id="notice"><%= notice %></p>

<p>
  <strong>Guest token:</strong>
  <%= @cart.guest_token %>
</p>

<p>
  <strong>User:</strong>
  <%= @cart.user %>
</p>

<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
