<section class="fdb-block login register">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="fdb-box">
              <div class="row">
                <div class="col sub-heading text-center">
                 <%= link_to root_path, class: "logo" do %>
                    <%= image_tag("logo.png") %> ThinkDigital
                  <% end %>
                  <h6 class="text-center text-white pt-5">LOG INTO YOUR ACCOUNT</h6>
                </div>
              </div>
              <div class="row">
                <div class="col mt-4">
                    <%= f.label :email, class:"text-white" %><br />
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <%= f.label :password,  class:"text-white" %><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                   <%= f.submit "Log in", class: "long-btn" %>
                   
                </div>
              </div>
            <!--   <div class="row mt-4">
                <div class="col">
                   <%= render "devise/shared/links" %>
                </div>
              </div> -->
            </div>
          <% end %>
      </div>
    </div>
  </section>

