<p id="notice"><%= notice %></p>

<p>
  <strong>Method:</strong>
  <%= @payment.method %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Trans:</strong>
  <%= @payment.trans_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @payment.order %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
