<div class="container pt-5">
  <h4 class="text-center pb-5"> Products</h4>
  <%= form_tag(products_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search products" %>
    <%= submit_tag "Search", :title => nil %>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-4 col-3">
          <p class="text-h4"> <%= link_to product.title, product %> </p>
          <p class="text-h4"><%= product.description %> </p>
          <p class="text-h4"><%= product.long_description %> </p>
          <p class="text-h4"><%= product.price %> </p>
         
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @products.blank? %>
  <p>There are no recipes containing the term <%= params[:search] %></p>
  <% end %>
</div>