<div class="container pt-5">
  <h4 class="text-center pb-5"> Products</h4>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-4 col-3">

          <div class="card">
            <%= image_tag(product.thumbnail.expiring_url(10), class: "card-img-top") %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to product.title, product %>
              </h4>
              <p class="card-text"><%= product.description %></p>
              <div class="d-flex justify-content-between bd-highlight mb-3">
                <div class="p-1 text-primary">
                  <h5><%= number_to_currency(product.price) %></h5>
                </div>
                <div class="p-1">
                  <%= link_to "Preview", product.preview_url, :target => '_blank', :class => "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <% if @products.blank? %>
  <p>There are no products containing the term <%= params[:search] %></p>
  <% end %>
</div>