<div class="container">
  <h4 class="text-center pt-5"> <%= @product.title%> </h4>
</div>

<section class="fdb-block pb-0 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-7">
        <div class="pb-5">
          <%= image_tag(@product.thumbnail.expiring_url(10), class: "img-fluid") %>
        </div>
        <% @images.each do | picture |%>
          <%= image_tag(picture.image.expiring_url(10), class: "img-fluid") %>
        <% end %>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <h1><%= @product.title %></h1>
        <p class="text-h3"><%= @product.description %></p>
        <p class="text-h3"><%= @product.long_description %></p>
        <p class="text-h4 text-primary"> <%= number_to_currency @product.price %>
        <%= render "product_row", product: @product, order_item: @order_item %>
      </div>
    </div>
  </div>

  <div class="container">
  <!--   <%= render 'products/stripe' %> -->
    <%= render 'products/disqus' %>
  </div>
</section>