<div class="container">
  <h4 class="text-center pt-5"> Product name</h4>
</div>

<section class="fdb-block pb-0 pt-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 ml-auto col-md-6 col-lg-5">
        <h1><%= @product.title %></h1>
        <p class="text-h3"><%= @product.description %></p>
        <p class="text-h3"><%= @product.long_description %></p>
        <p class="text-h4 text-primary"> <%= number_to_currency @product.price %>
        <p class="text-h4 text-primary"><%= @product.asset.url %></p>
        <%= render "product_row", product: @product, order_item: @order_item %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render 'products/stripe' %>
    <%= render 'products/disqus' %>
  </div>
</section>

        
<!-- <p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Long description:</strong>
  <%= @product.long_description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Commision:</strong>
  <%= @product.commision %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>


<p>
  <strong>Asset:</strong>
  <%= @product.asset.url %>
</p>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
 -->