<div class="container pt-5">
	<p>Your order has been placed successfully</p>
	<p>You can download your digital products at your convenience</p>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Product</th>
	      <th scope="col">Price</th>
	      <th scope="col">Quantity</th>
	      <th scope="col">Total</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @order_items.each_with_index do |order_item, index| %>
		  <tr>
		    <th scope="row"><%= index+1 %></th>
		    <th scope="row"><%= link_to order_item.product.title, product_path(order_item.product) %></th>
		    <td><%= number_to_currency order_item.unit_price %></td>
		    <td><%= order_item.quantity %></td>
		    <td><%= number_to_currency order_item.total_price %></td>
		    <td>
		    	<p class="text-h4 text-primary">
		          <%= link_to "Download", product_download_path(order_item.product), target: "_blank" %>
		        </p>
		    </td>
		  </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
