<!DOCTYPE html>
<html>
  <head>
    <title>RailsWebApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    
      <%= render :partial => "partials/navbar" %>
      <div id="wrapper">
        <%= yield %>
      </div>
      <%= render :partial => "partials/footer" %>
  </body>
</html>
